In [1]:
import numpy as np
import pandas as pd

In [17]:
pieces = pd.read_csv("pisa2012.csv",  encoding='latin1', chunksize=20000, low_memory=False)

df = pd.DataFrame() 
df = pd.concat(piece[piece.NC.isin(['Hong Kong-China ','Chinese Taipei ','Shanghai-China'])] for piece in pieces)

In [15]:
df.head(10)

Empty DataFrame
Columns: [Unnamed: 0, CNT, SUBNATIO, STRATUM, OECD, NC, SCHOOLID, STIDSTD, ST01Q01, ST02Q01, ST03Q01, ST03Q02, ST04Q01, ST05Q01, ST06Q01, ST07Q01, ST07Q02, ST07Q03, ST08Q01, ST09Q01, ST115Q01, ST11Q01, ST11Q02, ST11Q03, ST11Q04, ST11Q05, ST11Q06, ST13Q01, ST14Q01, ST14Q02, ST14Q03, ST14Q04, ST15Q01, ST17Q01, ST18Q01, ST18Q02, ST18Q03, ST18Q04, ST19Q01, ST20Q01, ST20Q02, ST20Q03, ST21Q01, ST25Q01, ST26Q01, ST26Q02, ST26Q03, ST26Q04, ST26Q05, ST26Q06, ST26Q07, ST26Q08, ST26Q09, ST26Q10, ST26Q11, ST26Q12, ST26Q13, ST26Q14, ST26Q15, ST26Q16, ST26Q17, ST27Q01, ST27Q02, ST27Q03, ST27Q04, ST27Q05, ST28Q01, ST29Q01, ST29Q02, ST29Q03, ST29Q04, ST29Q05, ST29Q06, ST29Q07, ST29Q08, ST35Q01, ST35Q02, ST35Q03, ST35Q04, ST35Q05, ST35Q06, ST37Q01, ST37Q02, ST37Q03, ST37Q04, ST37Q05, ST37Q06, ST37Q07, ST37Q08, ST42Q01, ST42Q02, ST42Q03, ST42Q04, ST42Q05, ST42Q06, ST42Q07, ST42Q08, ST42Q09, ST42Q10, ST43Q01, ...]
Index: []

[0 rows x 636 columns]

In [19]:
df.groupby('CNT')["WEALTH"].agg("mean")

CNT
Chinese Taipei   -0.471364
Name: WEALTH, dtype: float64

In [13]:
df.CN

Series([], Name: CNT, dtype: object)