## Poking at data in excel file, wrangling into DB-ready format

In [7]:
import pandas as pd

import psycopg2 as pg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from psycopg2.extras import DictCursor

In [8]:
df = pd.read_excel('sei.xlsx')

In [9]:
df.head(11)

,ARRDATE,MONTH & YEAR,COMMODITY DESCRIPTION,LOCAL PORT,TRANSHIPPORT,FOREIGN PORT,CODE COUNTRY,PRODUCTION REGION,TRADELANE,CARRIER,VESSEL,LOCAL TRADER,FOREIGN TRADER,QTY OF PACKAGES,WEIGHT (KG)
0,20140214,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ABIDJAN,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,59940
1,20140214,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ABIDJAN,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,59940
2,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
3,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
4,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
5,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
6,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
7,20140207,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ARICA,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
8,20140221,201402,COFFEE,PARANAGUA,GIOIA TAURO,NAPOLI,IT,1,MEDITERRANEAN/BLACK SEA/CASPIAN SEA,MSC,MSC ATHOS,FORTALEZA AGRO MERCANTIL LTDA,KIMBO SPA,0,99900
9,20140212,201402,COFFEE,PORTO DE ITAGUAI,ANTWERPEN,ANTWERPEN,BE,1,ATLANTIC EUROPE/NORTH SEA/UK,MAERSK LINE,MSC BARCELONA,TRISTAO COMPANHIA DE COMERCIO EXTERIOR,NV COFFEETEAM SA,0,63000
10,20140224,201402,COFFEE,PORTO DE ITAGUAI,ANTWERPEN,ANTWERPEN,BE,1,ATLANTIC EUROPE/NORTH SEA/UK,MAERSK LINE,MSC KRYSTAL,TRISTAO COMPANHIA DE COMERCIO EXTERIOR,NV COFFEETEAM SA,0,63000

### Creating Nodes dictionary

In [10]:
node_types = ['LOCAL PORT',
              'TRANSHIPPORT',
              'FOREIGN PORT',
              'PRODUCTION REGION',
              'TRADELANE',
              'CARRIER',
              'LOCAL TRADER',
              'FOREIGN TRADER']

In [11]:
df[node_types].nunique().sum()

512

In [12]:
nodes = []
added_so_far = []

i = 1

for record in df[node_types].to_dict(orient='records'):    
    for n_type, name in record.items():
        if name not in added_so_far:
            nodes.append({'node_id': i, "node_type":n_type, 'node_name': name})
            added_so_far.append(name)
            i+=1

print(nodes[:3])

[{'node_type': 'LOCAL PORT', 'node_name': 'PARANAGUA', 'node_id': 1}, {'node_type': 'TRADELANE', 'node_name': 'MEDITERRANEAN/BLACK SEA/CASPIAN SEA', 'node_id': 2}, {'node_type': 'FOREIGN TRADER', 'node_name': 'KIMBO SPA', 'node_id': 3}]

### Creating Flows dictionary

In [13]:
def get_node_id(name, nodes):
    for rec in nodes:
        if rec["node_name"] == name:
            return rec["node_id"]
    print("Name not in nodes collection")
    return None

In [14]:
flows = []
node_types.append("WEIGHT (KG)") #so we can extract volume from df

for record in df[node_types].to_dict(orient='records'): 
    #each record is a dict entry in a list, and each dict item contains column:value pairs
    flow = []
    volume = 0
    for n_type, val in record.items():
        if n_type == "WEIGHT (KG)":
            volume = val/1000.0 #divide by 1000kg to yield metric tons
        else:
            flow.append(get_node_id(val, nodes)) #looks up ID and appends it in order matching the column axis of df
    flows.append({'path':flow, 'volume':volume})

In [15]:
list(flows[0].items())

[('path', [1, 2, 3, 4, 5, 6, 7, 8]), ('volume', 59.94)]

### Aggregating the Volumes

In [16]:
all_paths = []
for rec in flows:
    if rec['path'] not in all_paths:
        all_paths.append(rec['path'])

In [17]:
agg_flows = []
for path in all_paths:
    agg_rec = {}
    vol = 0
    for rec in flows:
        if path == rec['path']:
            vol += rec['volume']
    agg_flows.append({'path':path, 'volume':vol})
print(agg_flows[:10])

[{'path': [1, 2, 3, 4, 5, 6, 7, 8], 'volume': 819.18}, {'path': [9, 10, 11, 12, 5, 13, 14, 13], 'volume': 126.0}, {'path': [9, 10, 15, 16, 5, 17, 7, 13], 'volume': 126.0}, {'path': [9, 18, 19, 20, 5, 21, 22, 21], 'volume': 96.8}, {'path': [9, 18, 23, 24, 5, 21, 7, 21], 'volume': 135.52}, {'path': [9, 18, 19, 20, 5, 21, 7, 21], 'volume': 96.8}, {'path': [9, 10, 25, 26, 5, 27, 7, 28], 'volume': 290.4}, {'path': [9, 29, 19, 20, 5, 30, 7, 31], 'volume': 473.628}, {'path': [9, 32, 23, 24, 5, 33, 7, 31], 'volume': 116.16}, {'path': [9, 32, 19, 20, 5, 33, 7, 31], 'volume': 302.498}]

## Instantiating database, creating tables

In [19]:
conn = pg2.connect(user="postgres", host = "localhost", port = 5432, password = 'templar')
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = conn.cursor()

In [95]:
# createdb = """
# CREATE DATABASE SEI
#     WITH OWNER = postgres
#     ENCODING = 'UTF-8';
# """
# cur.execute(createdb)

In [22]:
# cur.execute("DROP TYPE node_types CASCADE") #for recreating the enumerated type if needed
mknodetypes = "CREATE TYPE node_types AS ENUM {}".format(tuple(node_types))
print(mknodetypes)
cur.execute(mknodetypes)

CREATE TYPE node_types AS ENUM ('LOCAL PORT', 'TRANSHIPPORT', 'FOREIGN PORT', 'PRODUCTION REGION', 'TRADELANE', 'CARRIER', 'LOCAL TRADER', 'FOREIGN TRADER')

#### Define tables

In [93]:
mknodes = """
CREATE TABLE nodes (
node_id INTEGER PRIMARY KEY,
node_name TEXT,
node_type node_types);"""

mkflows = """
CREATE TABLE flows (
path INTEGER[],
volume numeric(6,2));"""

In [128]:
cur.execute("drop table nodes;")
cur.execute("drop table flows;")
cur.execute(mknodes)
cur.execute(mkflows)

#### A Note
I attempted to create path as an integer array referncing node_id, but I could not figure out a way to do it within the assignment time limit, as it is, at least in any upfront and straigthforward way, [not possible (links to StackOverflow)](https://stackoverflow.com/questions/41054507/postgresql-array-of-elements-that-each-are-a-foreign-key).

### Inserting data into tables

In [129]:
cols = ", ".join([k for k in nodes[0].keys()])

for record in nodes:
    vals = ", ".join([str(v) for v in record.values()])
    sql = "INSERT INTO nodes({}) VALUES (%(node_id)s, %(node_name)s, %(node_type)s);".format(cols)
    cur.execute(sql, record)

In [130]:
keys = [k for k in agg_flows[0].keys()]
keys.sort()
cols = ", ".join(keys)

for record in agg_flows:
    sql = "INSERT INTO flows({}) VALUES (%(path)s, %(volume)s);".format(cols)
    cur.execute(sql, record)

#### Checking that all looks well

In [131]:
cur.execute("SELECT * FROM NODES LIMIT 10;")
print("10 Entries from the Nodes Table")
for row in cur.fetchall():
    print(row)
print("\n10 Entries from the Flows Table")
cur.execute("Select path, volume from flows limit 10;")
for row in cur.fetchall():
    print(row)

10 Entries from the Nodes Table
(1, 'GIOIA TAURO', 'TRANSHIPPORT')
(2, 'NAPOLI', 'FOREIGN PORT')
(3, 'MSC', 'CARRIER')
(4, 'FORTALEZA AGRO MERCANTIL LTDA', 'LOCAL TRADER')
(5, 'MEDITERRANEAN/BLACK SEA/CASPIAN SEA', 'TRADELANE')
(6, '1', 'PRODUCTION REGION')
(7, 'PARANAGUA', 'LOCAL PORT')
(8, 'KIMBO SPA', 'FOREIGN TRADER')
(9, 'ANTWERPEN', 'TRANSHIPPORT')
(10, 'MAERSK LINE', 'CARRIER')

10 Entries from the Flows Table
([1, 2, 3, 4, 5, 6, 7, 8], Decimal('819.18'))
([9, 9, 10, 11, 12, 6, 13, 14], Decimal('126.00'))
([9, 15, 3, 16, 12, 6, 13, 17], Decimal('126.00'))
([18, 18, 19, 20, 21, 6, 13, 22], Decimal('96.80'))
([18, 18, 3, 23, 21, 6, 13, 24], Decimal('135.52'))
([18, 18, 3, 20, 21, 6, 13, 22], Decimal('96.80'))
([25, 26, 3, 27, 12, 6, 13, 28], Decimal('290.40'))
([29, 30, 3, 20, 31, 6, 13, 22], Decimal('473.63'))
([29, 32, 3, 23, 33, 6, 13, 24], Decimal('116.16'))
([29, 32, 3, 20, 33, 6, 13, 22], Decimal('302.50'))

And that seems to have done the trick! When I visually compare the volumes alongside matching paths in the dictionaries, they match!

Originally, just to show that I could do it, I inserted the unaggregated flows dictionary in the flows table, and I created an aggregation table in PSQL, but this led to an intractable problem--the GROUP BY statement needed to compute sums of volumes for a given path invariably scrambled the path when written to a new table. I spent a great deal of time trying to debug that issue programmatically, but could not arrive at a solution without jeopardizing the intregrity of the date in the flow table as it is. 

Though it chagrins me to do so, I have opted to halt here.

In [139]:
import csv
import sys
with open("nodes.csv", "w") as out:
    outputquery = "COPY (SELECT * FROM nodes) TO STDOUT WITH CSV HEADER"
    cur.copy_expert(outputquery, out)

In [140]:
with open("flows.csv", "w") as out:
    outputquery = "COPY (SELECT * FROM flows) TO STDOUT WITH CSV HEADER"
    cur.copy_expert(outputquery, out)

With the above commands, I have created two output tables, and I have also used the pg_dump program to extract the database as a text file.

In [20]:
cur.close()
conn.close()

### Final Discussion
Much of what has been done above with regards to aggregating and checking could have been done in pandas using filtering methods, but I decided to go with pure Python given that the paths are represented as arrays of integers. I could also have done much of the table and database management using the psql terminal, but I thought it would be more convenient to present everything in a single jupyter notebook. Though the steps taken are not strictly in order, as I backtracked a number of times to rerun certain cells as I debugged, the overall flow of this notebook is pretty true to the steps that would be needed to arrive at the same results, from start to finish.